// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: 'Lobster', cursive;
}

h1.main_title {
  display: flex;
  font-size: 40px;
  color: purple;
  text-transform: uppercase;
  justify-content: center;
}

div.header-content {
  display: flex;
  clear: both;
  justify-content: flex-end;
  margin: 5px;
  // border: 2px solid
}

// div.image_header {
//   display: flex;
//   position: absolute;
//
//   width: 80%;
//   margin: auto;
//   border: 2px solid;
// }

body {
  background-color: #C7D7CF;
  color: purple;
  // border: 2px solid;
}

div.main-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  // border: 2px solid;
}

input {
  background-color: purple;
  color: #C7D7CF;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;

}
